body,html,#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#webgl,
#canvas2D {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
#canvas2D {
  z-index: 2;
  justify-content: space-between;

}
